<!DOCTYPE html>
<html>
    <head>
        <title>New Ride</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1>New Ride</h1>
        <p>Welcome to rides.</p>
    </body>
</html>
