<!DOCTYPE html>
<html>
    <%- include('./partials/head', {title: 'Rides | dashboard'}); %>
    <head>
        <title>New Ride</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <script src="/javascripts/rides.js"></script>
        <!-- <script
            async
            defer
            src="https://maps.googleapis.com/maps/api/js?key=<%= key %>&callback=initMap"
        ></script> -->
        <script
            async
            defer
            src="https://maps.googleapis.com/maps/api/js?key=<%= key %>&loading=async&libraries=visualization&callback=initMap"
        ></script>
    </head>
    <body>
        <h1>New Ride</h1>
        <div id="container">
            <div id="map"></div>
            <div id="input">
                <label for="start" style="text-align: center"></label>
                <input
                    type="text"
                    id="start"
                    name="start"
                    placeholder="Starting point"
                    value="Concordia University"
                />

                <label for="end"></label>
                <input
                    type="text"
                    id="end"
                    name="end"
                    placeholder="Destination"
                    value="McGill University"
                />
                <div class="routes">
                    <div id="fastest" class="route">Fastest</div>
                    <div id="safest" class="route">Safest</div>
                    <div id="least-traffic" class="route">Least Traffic</div>
                </div>

                <!-- <label for="filters">Filter 1: </label>
                <select id="filters" name="filters">
                    <option value="" selected disabled>Choose</option>
                    <option value="quickest">Quickest</option>
                    <option value="safest">Safest</option>
                    <option value="least-traffic">Least traffic</option>
                </select>

                <label for="filters">Filter 2: </label>
                <select id="filters" name="filters">
                    <option value="" selected disabled>Choose</option>
                    <option value="quickest">Quickest</option>
                    <option value="safest">Safest</option>
                    <option value="least-traffic">Least traffic</option>
                </select>

                <label for="filters">Filter 3: </label>
                <select id="filters" name="filters">
                    <option value="" selected disabled>Choose</option>
                    <option value="quickest">Quickest</option>
                    <option value="safest">Safest</option>
                    <option value="least-traffic">Least traffic</option>
                </select> -->

                <button id="ride" onclick="simulateLoading()">Ride</button>
            </div>
        </div>
    </body>
</html>
