<!DOCTYPE html>
<html>
    <head>
        <title>New Ride</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <script src="/javascripts/rides.js"></script>
        <script
            async
            defer
            src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"
        ></script>
    </head>
    <body>
        <h1>New Ride</h1>
        <p>Welcome to rides.</p>

        <div id="map" style="height: 600px"></div>

        <button id="ride">Ride</button>
        <script>
            document
                .getElementById('ride')
                .addEventListener('click', async () => {
                    try {
                        const response = await fetch('/rides', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                // Add any other headers if needed
                            },
                            // Add any request body data if needed
                            // body: JSON.stringify({ key: 'value' }),
                        });
                        const data = await response.json();
                        console.log('Response:', data);
                    } catch (error) {
                        console.error('Error:', error);
                    }
                });
        </script>
    </body>
</html>
