<!DOCTYPE html>
<html>
    <head>
        <title>New Ride</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <script src="/javascripts/rides.js"></script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap">
        </script>

    </head>
    <body>
        <h1>New Ride</h1>
        <p>Welcome to rides.</p>

        <div id="map" style="height:600px"></div>


    </body>
</html>
