<!DOCTYPE html>
<html>
    <head>
        <title>New Ride</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1>New Ride</h1>
        <p>Welcome to rides.</p>
        <div id="container">
            <div id="map">map</div>
            <div id="input">
                <label for="start">From:</label>
                <input type="text" id="start" name="start" />

                <label for="end">To:</label>
                <input type="text" id="start" name="start" />
            </div>
        </div>
    </body>
</html>
