body {
    /* padding: 50px; */
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

#container {
    display: grid;
    height: auto;
    width: auto;
    grid-template-columns: auto auto auto 400px;
    /* gap: 10px 10px; */
}

#map {
    height: 85vh;
    grid-column: 1 / span 3;
    border: 1px solid lightgray;
    border-radius: 12px;
}

#input {
    padding: 10px;
    padding-bottom: 0px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 12px;
    height: 85vh;
}

input {
    /* margin: 10px; */
    border-radius: 20px;
    border-color: red;
    width: 90%;
    height: 4vh;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 700px) {
    #container {
        grid-template-columns: auto;
    }

    #map,
    #input {
        grid-column: auto; /* Reset the grid column property */
        margin-bottom: 10px; /* Add some spacing between the map and input in the single column layout */
    }
}
