:root {
    font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Inter var', sans-serif;
    }
}

a {
    color: #00b7ff;
}

#menu {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}

#logo {
    width: 90px;
    height: 90px;
}
#name {
    /* margi */
}

#container {
    display: grid;
    height: auto;
    width: auto;
    grid-template-columns: auto auto auto 400px;
    text-align: center;
    /* gap: 10px 10px; */
}

#map {
    height: 85vh;
    grid-column: 1 / span 3;
    border: 1px solid lightgray;
    border-radius: 12px;
}

#input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 10px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 12px;
    height: 83vh;
}

input {
    border: 2px solid #a52422;
    border-radius: 20px;
    width: 90%;
    height: 4vh;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

.routes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.route {
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid black;
}

.active {
    background-color: #2e856e;
}

#ride {
    position: relative;
    border-radius: 12px;
    background-color: #a52422;
    border: 0px;
    color: white;
    height: 8vh;
    font-family: 'Inter var', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 55vh;
    cursor: pointer;
    &:hover {
        background-color: #8a1d1b; /* Darkened color */
    }
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(50% -50%);
    width: 100px;
    height: 40px;
    --g: radial-gradient(
            farthest-side,
            #0000 calc(95% - 3px),
            #fff calc(100% - 3px) 98%,
            #0000 101%
        )
        no-repeat;
    background: var(--g), var(--g), var(--g);
    background-size: 25px 25px;
    animation: l9 1s infinite alternate;
}
@keyframes l9 {
    0% {
        background-position: 0 50%, 50% 50%, 100% 50%;
    }
    20% {
        background-position: 0 0, 50% 50%, 100% 50%;
    }
    40% {
        background-position: 0 100%, 50% 0, 100% 50%;
    }
    60% {
        background-position: 0 50%, 50% 100%, 100% 0;
    }
    80% {
        background-position: 0 50%, 50% 50%, 100% 100%;
    }
    100% {
        background-position: 0 50%, 50% 50%, 100% 50%;
    }
}

@media (max-width: 700px) {
    #container {
        grid-template-columns: auto;
    }

    #map,
    #input {
        grid-column: auto; /* Reset the grid column property */
        margin-bottom: 10px; /* Add some spacing between the map and input in the single column layout */
        height: auto;
    }
    #map {
        height: 60vh;
    }
    #ride {
        margin-top: 0px;
    }
}
