body {
    /* padding: 50px; */
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

#container {
    background-color: grey;
    display: grid;
    height: auto;
    width: auto;
    grid-template-columns: auto auto auto;
    /* gap: 10px 10px; */
}

#map {
    background-color: beige;
    border: 2px solid black;
    height: 100vh;
    grid-column: 1 / span 2;
}

#input {
    background-color: white;
    border: 2px solid yellow;
    border-radius: 12px;
    height: 100vh;
}
